 body{
color: #EAF6F6;
margin:0px;
text-align: center;
font-family: 'Merriweather';
}
hr{
border: dotted #2E3E51 6px;
border-bottom: none;
width: 10%;
margin: 100px auto;
}
        img {
        height: 200px;
        /*background-color: red;*/
        }


        h3.education{
        color: black;
        }
        .top-container{
background-color: #E4F9F5;
padding: 6rem;
}
h1{
font-family: 'Montserrat';
font-size: 3rem;
color: #66BFBF;
}

h2{
font-family: 'Montserrat';
font-size: 2rem;
color: #66BFBF;
}
h3{
font-family: 'Montserrat';
color: #11999E;
}

td {
  height: 50px;
  vertical-align: bottom;
  color: black;
  margin:0px;
text-align: center;

}
.center {
  margin-left: auto;
  margin-right: auto;
}

p {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  color: black;
}
